In [5]:
import featuretools as ft
import pandas as pd

In [6]:
hr_data = pd.read_csv("hr_data.csv")

In [5]:
hr_data.head()

   Age Attrition  ... YearsSinceLastPromotion  YearsWithCurrManager
0   41       Yes  ...                       0                     5
1   49        No  ...                       1                     7
2   37       Yes  ...                       0                     0
3   33        No  ...                       3                     0
4   27        No  ...                       2                     2

[5 rows x 35 columns]

In [6]:
es = ft.EntitySet()

In [43]:
es = es.entity_from_dataframe(entity_id = "employees",
                              dataframe = hr_data,
                              index = "EmployeeNumber",
                              variable_types={"Age" : ft.variable_types.Numeric,
                                              "Attrition" : ft.variable_types.Boolean,
                                              "DailyRate" : ft.variable_types.Numeric,
                                              "Department" : ft.variable_types.Categorical,
                                              "DistanceFromHome" : ft.variable_types.Numeric,
                                              "Education" : ft.variable_types.Categorical,
                                              "EducationField" : ft.variable_types.Categorical,
                                              "EmployeeCount" : ft.variable_types.Numeric,
                                              "EnvironmentSatisfaction" : ft.variable_types.Categorical,
                                              "Gender" : ft.variable_types.Boolean,
                                              "HourlyRate" : ft.variable_types.Numeric,
                                              "JobInvolvement" : ft.variable_types.Categorical,
                                              "JobLevel" : ft.variable_types.Ordinal,
                                              "JobRole" : ft.variable_types.Categorical,
                                              "JobSatisfaction" : ft.variable_types.Ordinal,
                                              "MaritalStatus" : ft.variable_types.Categorical,
                                              "MonthlyIncome" : ft.variable_types.Numeric,
                                              "MonthlyRate" : ft.variable_types.Numeric,
                                              "NumCompaniesWorked" : ft.variable_types.Numeric,
                                              "Over18" : ft.variable_types.Boolean,
                                              "OverTime" : ft.variable_types.Boolean,
                                              "PercentSalaryHike" : ft.variable_types.Numeric,
                                              "PerformanceRating" : ft.variable_types.Categorical,
                                              "RelationshipSatisfaction" : ft.variable_types.Categorical,
                                              "StandardHours" : ft.variable_types.Numeric,
                                              "StockOptionLevel" : ft.variable_types.Categorical,
                                              "TotalWorkingYears" : ft.variable_types.Numeric,
                                              "TrainingTimesLastYear" : ft.variable_types.Numeric,
                                              "WorkLifeBalance" :	ft.variable_types.Categorical,
                                              "YearsAtCompany" : ft.variable_types.Numeric,
                                              "YearsInCurrentRole" : ft.variable_types.Numeric,
                                              "YearsSinceLastPromotion" : ft.variable_types.Numeric,
                                              "YearsWithCurrManager" : ft.variable_types.Numeric})

In [44]:
es

Entityset: None
  Entities:
    employees [Rows: 1470, Columns: 35]
  Relationships:
    No relationships

In [45]:
feature_matrix_customers, features_defs = ft.dfs(entityset = es, target_entity = "employees")

In [46]:
encoded_data = ft.encode_features(feature_matrix_customers, features_defs)

In [47]:
encoded_data[0]

                BusinessTravel = Travel_Rarely  ...  YearsWithCurrManager
EmployeeNumber                                  ...
1                                         True  ...                     5
2                                        False  ...                     7
4                                         True  ...                     0
5                                        False  ...                     0
7                                         True  ...                     2
...                                        ...  ...                   ...
2061                                     False  ...                     3
2062                                      True  ...                     7
2064                                      True  ...                     3
2065                                     False  ...                     8
2068                                      True  ...                     2

[1470 rows x 94 columns]